<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/authentication.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

    <div th:replace="~{fragments/navbar::navbar}"></div>
    <div class="container main-container">
        <div class="login-form">
            <h3 class="text-center">Вход</h3>
            <p class="text-center form-link">Еще не аккаунта?
                <a th:href="@{/auth/register}">Регистрация</a></p>
            <form action="/login_process" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <label for="email">Email: </label>
                <input type="email" name="email" required id="email" class="form-control mb-3" placeholder="name@example.com">
                <br>

                <label for="password">Password: </label>
                <input type="password" name="password" required id="password" class="form-control" placeholder="********">
                <br>
                <div style="color:red" th:if="${param.error}" >
                    Неправильный email или пароль
                </div>
                <br>
                <a href="#" class="mb-3 d-block">Забыли пароль?</a>
                <br>
                <input type="submit" value="Войти" class="btn btn-primary bg-blue-violet login-btn">
            </form>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>