<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-relative">
        <div class="container">
            <a href="#">
                <!--            <img src="/images/logo.svg" alt="Logo" class="logo">-->
                <strong>K.D <br> SAT</strong>
            </a>
            <ul class="nav nav-underline right-nav">
                <li class="nav-item">
                    <a class="nav-link all-courses" id="home" aria-current="page" th:href="@{/courses/all}">
                        <strong>All courses</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" id="products" class="nav-link">Settings</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown" >
                        <a class="btn profile-btn-d" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>

                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="dropdown-item mb-3">
                                <span class="icon-user icon"></span>
                                <div class="user-info">
                                    <a href="#" class="info-username text-black d-block link-primary fs-6"
                                       th:text="${user.getFirstname}" id="val"></a>
                                    <span class="d-block info-email" th:text="${user.getEmail()}"></span>
                                </div>
                            </li>
                            <li class="dropdown-item">
                                <span class="icon-orders icon"></span>
                                <div class="orders">
                                    <a href="#" class="fs-6 text-black">Home Works</a>
                                </div>
                            </li>

                            <li class="dropdown-item">
                                <span class="icon-wish icon"></span>
                                <div class="wish">
                                    <a href="#" class="fs-6 text-black">News</a>
                                </div>
                            </li>

                            <li class="dropdown-item">
                                <span class="icon-payments icon"></span>
                                <div class="payments">
                                    <a href="#" class="fs-6 text-black">Payments</a>
                                </div>
                            </li>


                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <span class="icon icon-logout"></span>
                                <form th:action="@{/logout}" class="" th:method="post">
                                    <button type="submit" class="fs-6 logout-btn" >Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>