body{
    background-color: #dfe0e3;
}

a{
    color: #D377F3;
    text-decoration: none;
}

.bg-blue-violet{
    background-color: #8570FE;
}

.login-form{
    max-width: 600px;
    margin: 100px auto;
    background-color: #FFF;
    padding: 40px;
    border-radius: 30px;
}

.login-btn, .register-btn{
    width: 100%;
}