body{
    background-color: #dfe0e3;
}

a{
    color: #D377F3;
    text-decoration: none;
}

.bg-blue-violet{
    background-color: #8570FE;
}

.right-nav{
    position: absolute;
    right: 100px;
}

.nav-link{
    font-family: "Arial", serif;
    font-weight: 500;
}

.icon{
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-right: 10px;
}

.icon-user{
    background-image: url("/images/profile-circle.svg");
}

.icon-logout{
    background-image: url("/images/logout.svg");
    margin-right: 2px;
}

.logout-btn{
    background-color: transparent;
    outline: none;
    border: none;
}


.profile-btn-d{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.profile-btn-d{
    background-image: url("/images/profile-circle.svg");
    width: 30px;
    height: 30px;
}


.dropdown-item{
    display: flex;
    align-items: start;
}


.info-email{
    font-size: 12px;
}

.info-username{
    font-size: 18px;
    display: block;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 0;
}